* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

body {
    width:100%;
    /*background-image:url(https://i.imgur.com/3jhku0g.gif);*/
    background-size:cover;
}

.container {
    display: flex;
    flex-direction: column;
    /*max-width: 10px;*/
    position: absolute;
    /*     top: 50%; */
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transition: 1s all ease-in-out;
    -webkit-transition: 1s all ease-in-out;
    -moz-transition: 1s all ease-in-out;
}

.box {
    display: flex;
    flex-direction: column;
}

.card-panel {
    padding-bottom: 0px;
    
    width: 200px;
}

.bold {
    font-weight: bold;
    font-size: 20px;
}
